<%- include('templates/header') %>
<link rel="stylesheet" href="/css/home.css">
<%- include('templates/navbar') %>
<main tabindex="0" id="mainContent" aria-label="konten utama">
  <header data-aos="slide-down">
    <svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 100" version="1.1"
      xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
          <stop stop-color="#0d6efd" offset="0%"></stop>
          <stop stop-color="#0d6efd" offset="100%"></stop>
        </linearGradient>
      </defs>
      <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
        d="M0,80L48,75C96,70,192,60,288,46.7C384,33,480,17,576,20C672,23,768,47,864,53.3C960,60,1056,50,1152,40C1248,30,1344,20,1440,13.3C1536,7,1632,3,1728,13.3C1824,23,1920,47,2016,56.7C2112,67,2208,63,2304,60C2400,57,2496,53,2592,56.7C2688,60,2784,70,2880,63.3C2976,57,3072,33,3168,28.3C3264,23,3360,37,3456,38.3C3552,40,3648,30,3744,33.3C3840,37,3936,53,4032,56.7C4128,60,4224,50,4320,53.3C4416,57,4512,73,4608,66.7C4704,60,4800,30,4896,20C4992,10,5088,20,5184,31.7C5280,43,5376,57,5472,60C5568,63,5664,57,5760,48.3C5856,40,5952,30,6048,33.3C6144,37,6240,53,6336,58.3C6432,63,6528,57,6624,55C6720,53,6816,57,6864,58.3L6912,60L6912,100L6864,100C6816,100,6720,100,6624,100C6528,100,6432,100,6336,100C6240,100,6144,100,6048,100C5952,100,5856,100,5760,100C5664,100,5568,100,5472,100C5376,100,5280,100,5184,100C5088,100,4992,100,4896,100C4800,100,4704,100,4608,100C4512,100,4416,100,4320,100C4224,100,4128,100,4032,100C3936,100,3840,100,3744,100C3648,100,3552,100,3456,100C3360,100,3264,100,3168,100C3072,100,2976,100,2880,100C2784,100,2688,100,2592,100C2496,100,2400,100,2304,100C2208,100,2112,100,2016,100C1920,100,1824,100,1728,100C1632,100,1536,100,1440,100C1344,100,1248,100,1152,100C1056,100,960,100,864,100C768,100,672,100,576,100C480,100,384,100,288,100C192,100,96,100,48,100L0,100Z">
      </path>
    </svg>
  </header>
  <div class="my-4">
    <section class="bg-white">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-md-6">
          <div class="my-5">
            <div class="three-circle" data-aos="zoom-in">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <h2 class="display-2 text-center fw-bold m-0 p-0" tabindex="0" data-aos="slide-right">CADLABAH</h2>
            <p class="text-center" aria-label="kepanjangan dari cadlabah adalah cari dan lapor barang hilang"
              tabindex="0" data-aos="fade-down">
              <b>Ca</b>ri
              <b>D</b>an <b>La</b>por <b>Ba</b>rang <b>H</b>ilang</p>
            <a class="btn btn-primary col-6 offset-3 mt-5 mt-md-2 mt-lg-3 mt-xl-5 rounded-pill fs-5" href="/posts"
              data-aos="fade-up"><i class="fas fa-search fa-fw"></i>
              Jelajahi</a>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-md-6">
          <a href="https://www.vecteezy.com/free-vector/thinking" target="_blank" rel="norefferer" aria-label="">
            <img class="col-12 img-fluid my-md-4" src="./images/illustration/Peopleaskquestions.jpg"
              alt="Thinking Vectors by Vecteezy" title="Thinking Vectors by Vecteezy" data-aos="slide-left">
          </a>
        </div>
      </div>
    </section>
    <section>
      <header data-aos="slide-up">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#0d6efd" fill-opacity="1"
            d="M0,288L40,282.7C80,277,160,267,240,245.3C320,224,400,192,480,181.3C560,171,640,181,720,197.3C800,213,880,235,960,224C1040,213,1120,171,1200,149.3C1280,128,1360,128,1400,128L1440,128L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
          </path>
        </svg>
      </header>
      <div class="bg-primary text-light">
        <h3 class="text-center fw-bold display-5 pb-5 m-0" tabindex="0" data-aos="fade-down">Analitik</h3>
        <div class="row text-center">
          <div class="col-4 analytic" tabindex="0" aria-label="total pengguna saat ini adalah <%= usersTotal %> orang"
            data-aos="fade-up-right" data-aos-delay="100">
            <i class="fas fa-user-circle d-block analytic-icon"></i>
            <span class="d-block mt-2 analytic-value"><%= usersTotal %></span>
            <span class="d-block mt-1 analytic-title">Pengguna</span>
          </div>
          <div class="col-4 analytic" tabindex="0" aria-label="total postingan saat ini adalah <%= postsTotal %>"
            data-aos="fade-up" data-aos-delay="200">
            <i class="fas fa-paper-plane d-block analytic-icon"></i>
            <span class="d-block mt-2 analytic-value"><%= postsTotal %></span>
            <span class="d-block mt-1 analytic-title">Postingan</span>
          </div>
          <div class="col-4 analytic" tabindex="0"
            aria-label="total orang yang telah terbantu saat ini adalah <%= helpedTotal %> orang"
            data-aos="fade-up-left" data-aos-delay="300">
            <i class="fas fa-check-circle d-block analytic-icon"></i>
            <span class="d-block mt-2 analytic-value"><%= helpedTotal %></span>
            <span class="d-block mt-1 analytic-title">Orang Terbantu</span>
          </div>
        </div>
      </div>
      <header>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#0d6efd" fill-opacity="1"
            d="M0,288L40,282.7C80,277,160,267,240,245.3C320,224,400,192,480,181.3C560,171,640,181,720,197.3C800,213,880,235,960,224C1040,213,1120,171,1200,149.3C1280,128,1360,128,1400,128L1440,128L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
          </path>
        </svg>
      </header>
    </section>
    <section>
      <div class="my-5">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 py-4">
              <h3 class="text-center display-5 fw-bold m-0" tabindex="0" data-aos="fade-right">Apa itu CADLABAH?</h3>
            </div>
            <div class="col-12 col-lg-6">
              <p class="text-center fs-4" tabindex="0" data-aos="fade-up" data-aos-delay="200">
                CADLABAH adalah sebuah aplikasi website untuk pencarian dan pelaporan barang hilang berbentuk sebuah
                postingan yang dapat dilihat oleh seluruh pengguna atau pengunjung website.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="my-5">
        <header data-aos="slide-up">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#0d6efd" fill-opacity="1"
              d="M0,288L40,282.7C80,277,160,267,240,245.3C320,224,400,192,480,181.3C560,171,640,181,720,197.3C800,213,880,235,960,224C1040,213,1120,171,1200,149.3C1280,128,1360,128,1400,128L1440,128L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
            </path>
          </svg>
        </header>
        <div class="bg-primary text-light text-center">
          <div class="container">
            <h3 class="text-center fw-bold display-5 pb-2 m-0" tabindex="0" data-aos="fade-up">Ayo bergabung!</h3>
            <p class="pb-4" tabindex="0" data-aos="fade-in">Dan saling membantu satu sama lain</p>
            <a class="btn btn-light mx-1 my-2" href="/auth/google" data-aos="fade-right"><i
                class="fab fa-google fa-fw text-primary" data-aos="zoom-in" data-aos-delay="300"></i>
              Masuk
              dengan
              Google</a>
            <a class="btn btn-light mx-1 my-2" href="/auth/github" data-aos="fade-left"><i
                class="fab fa-github fa-fw text-dark" data-aos="zoom-in" data-aos-delay="300"></i> Masuk
              dengan
              Github</a>
          </div>
        </div>
        <header>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#0d6efd" fill-opacity="1"
              d="M0,288L40,282.7C80,277,160,267,240,245.3C320,224,400,192,480,181.3C560,171,640,181,720,197.3C800,213,880,235,960,224C1040,213,1120,171,1200,149.3C1280,128,1360,128,1400,128L1440,128L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
            </path>
          </svg>
        </header>
      </div>
    </section>
  </div>
</main>

<%- include('templates/flash') %>
<%- include('templates/copyright') %>

<script src="/js/home.js"></script>

</body>

</html>