<%- include('templates/header') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"
  integrity="sha512-q583ppKrCRc7N5O0n2nzUiJ+suUv7Et1JGels4bXOaMFQcamPk9HjdUknZuuFjBNs7tsMuadge5k9RzdmO+1GQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<%- include('templates/navbar') %>
<main>
  <div class="container my-4">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-9 mb-3">
        <!-- post item -->
        <% if(posts.length > 0) { %>
        <% posts.forEach((post) => { %>
        <div class="card mb-3 shadow" tabindex="0" id="1">
          <div class="card-header">
            <h2 class="card-title my-2" id="post1">
              [<%= post.goodsStatus === 1 ? 'Temuan' : 'Hilang' %>] <%= title %>
            </h2>
            <p class="card-text">
              <div class="my-2">
                <a href="posts/category/<%= post.category %>">
                  <div class="badge bg-primary" aria-label="kategori <%= post.category %>">
                    <%= post.category %>
                  </div>
                </a>
              </div>
              <small class="text-muted">
                Diposting oleh <i class="fas fa-user"></i> <%= post.author %> pada
                <%= new Date(post.createdAt).toLocaleString() %>
              </small>
            </p>
          </div>
          <div class="ratio ratio-16x9">
            <img class="img-fluid img-thumbnail lazyload" data-src="<%= post.image %>" class="card-img-top"
              alt="gambar">
          </div>
          <div class="card-body">
            <p class="card-text">
              <%= post.description %>
            </p>

            <p><b><%= (post.goodsStatus === 1) ? 'Merasa itu barangmu?' : 'Merasa Menemukan Barangnya?' %> </b></p>
            <div class="row">
              <div class="col-6">
                <button class="col-12 btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseContact<%= post.id %>" aria-expanded="false"
                  aria-controls="collapseContact<%= post.id %>">
                  <i class="fas fa-contact-book"></i> Lihat Kontak
                </button>
              </div>
              <div class="col-6">
                <button class="col-12 btn btn-outline-success" data-postID="<%= post.id %>"><i
                    class="fas fa-share share-button"></i>Bagikan</button>
              </div>
            </div>

            <div class="collapse" id="collapseContact<%= post.id %>">
              <div class="card card-body shadow">
                <h5>Kontak</h5>
                <div class="row">
                  <% const { whatsapp, email, phone } = post.contacts; %>
                  <% if(whatsapp && whatsapp !== '' || email && email !== '' || phone && phone !== '') { %>
                  <% if(whatsapp && whatsapp !== '') {%>
                  <a class="col-lg-3 mx-lg-1 my-1 btn btn-success"
                    href="https://api.whatsapp.com/send?phone=<%= whatsapp %>" target="_blank">
                    <i class="fab fa-whatsapp"></i> Whatsapp
                  </a>
                  <% } // end of if %>
                  <% if(email && email !== '') {%>
                  <a class="col-lg-3 mx-lg-1 my-1 btn btn-danger" href="mailto:<%= post.contacts.email %>">
                    <i class="fas fa-mail-bulk"></i> Email
                  </a>
                  <% } // end of if %>
                  <% if(phone && phone !== '') {%>
                  <a class="col-lg-3 mx-lg-1 my-1 btn btn-primary" href="tel:<%= post.contacts.phone %>">
                    <i class="fas fa-phone"></i> Telepon
                  </a>
                  <% } // end of if %>
                  <% } else { // else contact length %>
                  <p class="m-2"><%= post.author %> Tidak mencantumkan kontak</p>

                  <% } //end of if contact length %>
                </div>
              </div>
            </div>

          </div>
        </div>
        <% }); // end of foreach %>
        <% } else { %>
        <h1>Posts is Empty</h1>
        <% } // end of else %>
        <!-- end of post item -->
      </div>
      <%- include('templates/posts/sidebar') %>
    </div>
  </div>
</main>
<%- include('templates/footer') %>