<%- include('templates/header') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"
  integrity="sha512-q583ppKrCRc7N5O0n2nzUiJ+suUv7Et1JGels4bXOaMFQcamPk9HjdUknZuuFjBNs7tsMuadge5k9RzdmO+1GQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<%- include('templates/navbar') %>
<main tabindex="0" id="mainContent">
  <div class="container my-4">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-9 mb-3">
        <!-- post item -->
        <% if(posts.length > 0) { %>
        <h2 class="my-3 text-center"><%- subTitle %></h2>
        <% posts.forEach((post) => { %>
        <div class="card mb-3 shadow" tabindex="0">
          <div class="card-header">
            <h3 class="card-title my-2 text-capitalize">
              <span class="<%= (Number(post.goodsStatus) === 1) ? 'text-success' : 'text-danger' %>">
                [<%= (Number(post.goodsStatus) === 1) ? 'Temuan' : 'Hilang' %>]
              </span>
              <%= post.title %>
            </h3>
            <p class="card-text">
              <div class="my-2">
                <a href="/posts/category/<%= post.category %>">
                  <div class="badge bg-primary text-capitalize" aria-label="kategori <%= post.category %>">
                    <%= post.category %>
                  </div>
                </a>
              </div>
              <small class="text-muted text-capitalize">
                Diposting oleh <i class="fas fa-user"></i> <%= post.author %> pada
                <%= new Date(post.createdAt).toLocaleString() %>
              </small>
            </p>
          </div>
          <a href="/images/posts/<%= post.image %>" target="_blank">
            <div class="ratio ratio-16x9">
              <img class="img-fluid img-thumbnail lazyload" data-src="/images/posts/<%= post.image %>"
                class="card-img-top" alt="gambar">
            </div>
          </a>
          <div class="card-body">
            <p class="card-text text-capitalize">
              <%- post.description %>
            </p>

            <p><b><%= (post.goodsStatus === 1) ? 'Merasa itu barangmu?' : 'Merasa Menemukan Barangnya?' %> </b></p>
            <div class="row">
              <div class="col-6">
                <button class="col-12 btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseContact<%= post.id %>" aria-expanded="false"
                  aria-controls="collapseContact<%= post.id %>">
                  <i class="fas fa-contact-book"></i> Lihat Kontak
                </button>
              </div>
              <div class="col-6">
                <button class="col-12 btn btn-outline-success" data-postID="<%= post.id %>"><i
                    class="fas fa-share share-button"></i> Bagikan</button>
              </div>
            </div>

            <div class="collapse" id="collapseContact<%= post.id %>">
              <div class="card card-body shadow">
                <h5>Kontak</h5>
                <div class="row">
                  <% const { whatsapp, email, phone } = post.contacts; %>
                  <% if(whatsapp && whatsapp !== '' || email && email !== '' || phone && phone !== '') { %>
                  <% if(whatsapp && whatsapp !== '') {%>
                  <a class="col-lg-3 mx-lg-1 my-1 btn btn-success"
                    href="https://api.whatsapp.com/send?phone=<%= whatsapp %>" target="_blank">
                    <i class="fab fa-whatsapp"></i> Whatsapp
                  </a>
                  <% } // end of if %>
                  <% if(email && email !== '') {%>
                  <a class="col-lg-3 mx-lg-1 my-1 btn btn-danger" href="mailto:<%= post.contacts.email %>">
                    <i class="fas fa-mail-bulk"></i> Email
                  </a>
                  <% } // end of if %>
                  <% if(phone && phone !== '') {%>
                  <a class="col-lg-3 mx-lg-1 my-1 btn btn-primary" href="tel:<%= post.contacts.phone %>">
                    <i class="fas fa-phone"></i> Telepon
                  </a>
                  <% } // end of if %>
                  <% } else { // else contact length %>
                  <p class="m-2 text-capitalize"><%= post.author %> Tidak mencantumkan kontak</p>

                  <% } //end of if contact length %>
                </div>
              </div>
            </div>

          </div>
        </div>
        <% }); // end of foreach %>
        <% } else { %>
        <h2 class="text-capitalize"><%- isPostEmptyMessage %></h2>
        <% } // end of else %>
        <!-- end of post item -->
      </div>
      <%- include('templates/posts/sidebar') %>
    </div>
  </div>
</main>

<div class="fixed-bottom">
  <%- include('templates/copyright') %>
</div>

<%- include('templates/flash') %>
<%- include('templates/footer') %>